.eclipse/
.idea/
nbproject/

classes/
dist/
test-classes/
test-output/
test-reports/
out/

Debug/
Default/
Release/

atlassian-ide-plugin.xml
.classpath
.project
*.iml
*.log
*.gypi
*.sln
*.vcxproj
*.vcxproj.filters

test*.txt
/target/
build/
.settings/
libuv.dll
/src/src/main/resources/META-INF/libuv-java.exp
/src/src/main/resources/META-INF/libuv-java.lib
/src/src/main/resources/META-INF/libuv-java.dll
/src/test/java/com/oracle/libuv/Main.java
/src/main/resources/META-INF/libuv-java.so
/src/main/resources/META-INF/uv-java.dll
/src/main/resources/META-INF/uv-java.exp
/src/main/resources/META-INF/uv-java.ilk
/src/main/resources/META-INF/uv-java.lib
/src/main/resources/META-INF/uv-java.pdb
/src/main/resources/META-INF/libuv-java.dylib
